// Colors

$Dark_Shade_100: #1F2041;
$Dark_Shade_75: rgba(31, 32, 65, 0.75);
$Dark_Shade_50: rgba(31, 32, 65, 0.5);
$Dark_Shade_25: rgba(31, 32, 65, 0.25);
$Dark_Shade_5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

//logotype

@mixin logo {
  width: 48px;
  height: 48px;
  max-width: 100%;
  display: flex;
  justify-content: start;
  margin-top: 50px;
  vertical-align: middle;
  margin-top: 15px;
  margin-left: 15px;

}

//Fonts
    
@mixin Montserrat-norm {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

@mixin Montserrat-bold {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

@mixin Quicksand-bold {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
}

@mixin Quicksand-norm {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
}      

// flex

@mixin flex-row {
  display: flex; 
  flex-direction: row;
}

@mixin flex-column {
   display: flex; 
   flex-direction: column;
}

      

        
