<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Formelements
    link(rel="stylesheet", href="../fonts_icon/toxin_icon.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js")
    script(src="../js/formElements.js")
    script(src="../js/jquery.maskedinput.min.js")
    script(src="../js/masked.js")  
body
     .container
      .logo
        img(src="../image/logo.png" class="logo" alt="logo")
      .field-elements
        .field-elements__field
          .field-title
              .field-name Text Field
              .field-status Default

          form(action="#").field-elements__email
            input(id="mail" type="email" placeholder="Email")

          .field-title
              .field-name Text Field
              .field-status Hover / Focus 

          form(action="#").field-elements__hover
            input(id="hover" type="text" placeholder="This is pretty awesome")

          .field-title
              .field-name Dropdown 

          form(action="#").field-elements__guest
            input(id="guest" type="text" placeholder="Сколько гостей")
            button(class="sufix-buttton icon-sufix " type="submit" )

          .field-title
              .field-name masked text field
               

          form(action="#").field-elements__masked
            input( id="masked" class="date" class="masked" type="text")
          
          
          .field-elements__date
            .container_date
              .field-title
                .field-name date Dropdown
              form(action="#").field-elements__date_ordinary
                input(id="masked_date" class="date" )
                button(class="sufix-buttton icon-sufix " type="submit" )
            .container_date-today
              .field-title
                .field-name date Dropdown
              form(action="#").field-elements__date_today  
                input(id="masked_today" class="date" ) 
                button(class="sufix-buttton icon-sufix " type="submit" )
          
          .ield-elements__date-filter
          .field-elements__subscription
          .field-elements__checkbox
          .field-elements__buttons
     
     





















