<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="../fonts_Icon/icon.css")
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="../js/formElements.js")

  body
    .container
      .logo
        img(src="../image/logo.png" class="logo" alt="logo")
      .field-elements
        .field-elements__field 
          .field-elements__email
            .field-title
              .field-name Text Field
              .field-status Default
            input(id="mail" type="email" placeholder="Email")
          .field-elements__hover
            .field-title
              .field-name Text Field
              .field-status Hover / Focus      
            input(id="hover" type="text" placeholder="This is pretty awesome")
          //- .field-title
          //-     .field-name Dropdown  
          form(action="#").field-elements__guest
            //- .field-title
            //-   .field-name Dropdown
                
            input(id="guest" type="text" placeholder="Сколько гостей")
            button(class="guest-buttton fa fa-chevron-down" type="submit" aria-hidden="true" )
          .field-elements__masked
          .field-elements__date
            .date
            .date-number
          .ield-elements__date-filter
          .field-elements__subscription
          .field-elements__checkbox
          .field-elements__buttons





















